body {
  background-color: #dfd5c3;
}
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: auto;
  font-size: 20px;
  color: #d37556;
  background-color: white;
  border: 1px black solid;
  border-radius: 10px;
  width: 1000px;
  height: 30px;
}
footer {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 15px;
}

h1 {
  color: #395c79;
  font-family: Georgia, serif;
  text-align: center;
}
h2 {
  margin: 7px;
  color: #2b4459;
}
.P1,
.P2,
.P3,
.P4,
.P5,
.P6 {
  font-size: 20px;
  margin: 10px;
  color: #4a4a4a;
}
.Resumo {
  margin: 40px;
  background-color: white;
  height: 300px;
}
.Img1 {
  float: right;
  width: 300px;
  height: 200px;
}
.Nascimento {
  height: 300px;
  margin: 40px;
  background-color: white;
}
.Img2 {
  float: right;
  width: 300px;
  height: 200px;
}
.Trajetoria {
  background-color: white;
  margin: 40px;
}
.Fato-Historico {
  background-color: white;
  margin: 40px;
}
.Momento-Atual {
  background-color: white;
  margin: 40px;
}
.Perspectivas{
  background-color: white;
  margin: 40px;
}
.Resumo,
.Nascimento,
.Trajetoria,
.Fato-Historico,
.Momento-Atual,
.Perspectivas {
  border-left: 5px solid #d37556;
  border-radius: 0 8px 8px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
